:root {
    --primary-color: #0d47a1; /* Dark blue */
    --secondary-color: #1976d2; /* Lighter blue */
    --background-color: #f5f5f5; /* Light gray */
    --card-bg: rgba(255, 255, 255, 0.8);
    --card-border: rgba(255, 255, 255, 0.2);
    --text-color: #333;
    --hover-bg: rgba(255, 255, 255, 0.9);
    --box-shadow: rgba(0, 0, 0, 0.1);
  }
  .container {
    margin: 0 auto;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D79BD;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  header img {
    height: 50px;
    background-color: white;
  }
  
  header nav {
    display: flex;
    gap: 20px;
  }
  
  header nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
  }
  
  header nav a:hover {
    color: #f39c12;
  }
  
  header nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #f39c12;
    left: 0;
    bottom: -2px;
    transition: width 0.3s ease;
  }
  
  header nav a:hover::after {
    width: 100%;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    header nav {
      flex-direction: column;
      gap: 10px;
    }
  }

  .intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .intro-section img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .loaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .content-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }

  .content-item:nth-child(odd) {
    flex-direction: row;
  }

  .content-card {
    flex: 1;
    background: var(--card-bg);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px var(--box-shadow);
    border: 1px solid var(--card-border);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .content-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px var(--box-shadow);
    background: var(--hover-bg);
  }

  .content-card h2 {
    margin-top: 0;
    color: var(--primary-color);
  }

  .content-card p {
    margin-bottom: 0;
  }

  .content-card ol {
    margin: 10px 0 0;
    padding-left: 20px;
  }

  .content-card ol li {
    margin-bottom: 10px;
  }

  .content-image {
    flex: 1;
    height: 200px; /* Adjust as needed */
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--box-shadow);
    overflow: hidden; /* Ensures no content spills outside */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }
  
  .content-image img {
    width: 100%; /* Scales the image to fit the width */
    height: 100%; /* Scales the image to fit the height */
    object-fit: contain; /* Ensures the image covers the entire container without distortion */
    border-radius: 10%; /* Matches the container's rounded corners */
  }
  /*Loader*/
  /* From Uiverse.io by SchawnnahJ */ 
.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
 }
 
 .loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
 }
 
 .loader:before {
  animation: before8 2s infinite;
 }
 
 .loader:after {
  animation: after6 2s infinite;
 }
 
 @keyframes before8 {
  0% {
   width: 0.5em;
   box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
 
  35% {
   width: 2.5em;
   box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
  }
 
  70% {
   width: 0.5em;
   box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
  }
 
  100% {
   box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
 }
 
 @keyframes after6 {
  0% {
   height: 0.5em;
   box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
 
  35% {
   height: 2.5em;
   box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
  }
 
  70% {
   height: 0.5em;
   box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
  }
 
  100% {
   box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
 }
 
 .loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
 }

  footer {
    background-color: white;
    padding: 1rem;
    margin-top: 2rem;
  }
  footer p{
    color: black;
    text-align: center;
  }

  @media (max-width: 768px) {
    .content-item {
      flex-direction: column;
    }

    .content-image {
      height: 200px;
    }
  }